@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
    box-sizing: border-box;
}
.section2 {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 85px 0;
}


.section2 .header {
    width: 1180px;
    margin: 0 auto;
}

.section2 h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #7691b9;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.section2 .gallery {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}


.section2 .gallery img{
    width: 220px;
    padding: 0px;
    height: 220px;
}

.section2 .stymit {
    width: 170px;
    height: 34px;
    border-radius: 15px;
    border:none;
    background-color: #853D51;
    margin-top: 30px;
}
.section2 input.stymit{
    cursor: pointer;
    transition: all 0.3s ease;
}

.section2 input.stymit:hover {
    background-color: #feda03;
    color: white;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.25);
}
.section2 p {
    text-align: center;
}